<div class="row">
  <div class="span10">
    <div>
      <header>
        <%= image_tag 'logo.png' %>
        <h3><em>PutsBox</em> makes email integration tests easy. Try it now!</h3>
        <%= form_for :bucket, url: buckets_path do |f| %>
          <button class="btn btn-primary btn-large">Create a PutsBox</button>
          <em>
            <% if user_signed_in? %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign in', new_user_session_path  %> | <%= link_to 'Sign up', new_user_registration_path %>
            <% end %>
          </em>
        <% end %>
      </header>
      <section class="start">
        <div class="row">
          <div class="<%= @buckets.any? ? 'col-md-7' : 'col-md-12' %>">
            <h4>Record the emails sent from your application</h4>
            <p>Change your test email to a PutsBox email, then you will be able to inspect all emails being sent.</p>
            <p>Some use cases:</p>
            <ul>
              <li>To implement full acceptance tests with <a href="https://github.com/jnicklas/capybara" target="_blank">Capybara</a>, <a href="https://ghostinspector.com" target="_blank">Ghost Inspector</a>, <a href="http://www.seleniumhq.org/" target="_blank">Selenium</a> etc - You can test if your application is sending the emails properly.</li>
              <li>To benchmark by checking the First and Last received emails timestamps, or by checking the numbers of emails received within a period.</li>
            </ul>
            <p>Looking for some examples? Have a look at <a href="http://www.pablocantero.com/blog/2015/08/05/test-emails-with-automated-testing-tools/" target="_blank">Test emails with automated testing tools</a>.</p>
          </div>
          <% if @buckets.any?  %>
            <div class="col-md-5">
              <div class="history">
                <h4 class="bm0 tm0">History</h4>
                <small>View and manage your buckets:</small>
                <ul class="tm5">
                  <% @buckets.each do |bucket| %>
                    <li><%= link_to "#{bucket.token} (#{bucket.emails_count})", bucket_path(bucket.token) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
