<% content_for :title, @bucket.token %>

<ul class="nav">
  <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
  <li><a href="<%= "/#{@bucket.token}/inspect" %>">Inspect</a></li>
  <% if user_signed_in? %>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_user_session_path  %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
</ul>

<section class="putsbox-url-box">
  <h3>Your PutsBox Email</h3>
  <div class="input-group putsbox-url">
    <input id="putsbox-token-input" data-bucket-token="<%= @bucket.token %>" data-bucket-emails-count="<%= @bucket.emails_count %>" type="text" value="<%= token_email(@bucket.token) %>" readonly="readonly"></input>
    <span id="copy-button" data-clipboard-text="<%= token_email(@bucket.token) %>" class="input-group-addon hastip clipboard">
      <span class="glyphicon glyphicon-link hastip"></span>
    </span>
  </div>
</section>

<br/><br/>

<hr/>
<%= render 'form' %>
<hr/>

<%= react_component('Emails',
                    bucketId: @bucket.id.to_s,
                    bucketToken: @bucket.token,
                    initialEmails: @bucket.emails.map { |e| EmailSerializer.new(e) },
                    previewURLtemplate: email_url(@bucket.token, 'change-me'),
                    bucketEmailsCount: @bucket.emails_count) %>

<p><%= paginate @emails %></p>
